<footer>
	<div id="contacts-section" class="g-bg-black-opacity-0_9 g-color-white-opacity-0_8 g-py-60">
		<div class="container">
			<div class="row">
			
				<!-- Footer Content -->
				<div class="col-lg-3 col-md-6 g-mb-40 g-mb-0--lg">
					<div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
						<h2 class="u-heading-v2__title h6 text-uppercase mb-0">About Us</h2>
					</div>

					<p>About Unify dolor sit amet, consectetur adipiscing elit. Maecenas eget nisl id libero tincidunt sodales.</p>
				</div>
				<!-- End Footer Content -->
			
			</div>
		</div>
	</div>	
</footer>